@model HRModel.config_public_char

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">
                        您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--公共属性设置--公共属性添加
                    </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="提交" class="BUTTON_STYLE1">
                    <input type="button" value="返回" class="BUTTON_STYLE1"
                           onclick="window.location.href='/config_public_char/Ggsx'">
                </td>
            </tr>
        </table>

        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td class="TD_STYLE1" width="19%">
                    属性种类
                </td>
                <td class="TD_STYLE2" width="81%">
                    @Html.EditorFor(model => model.attribute_kind, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.attribute_kind, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    属性名称
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.attribute_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.attribute_name, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>


}
